{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    ["import", {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "less"
      }]
  ]
}